<section class="bg-light text-center montserrat" style="padding-top: 6rem; padding-bottom: 6rem">
    <div class="container">
        <h2 style="padding-left: 0.5rem; padding-right: 0.5rem">
            Курсы рассчитаны как на опытных программистов, так и на новичков без навыков
            программирования.<br><br>
            <button class="btn my_btn"
                    onclick="window.location='{{ consultation_google_form }}'"
            >Получить консультацию</button>
        </h2>
    </div>
</section>