<section class="bg-light text-center montserrat">
    <div class="container">
        <div class="bg-light row" style="padding: 1rem; padding-bottom: 3rem">

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/kolesa_new.png" style="width: 40%">
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/aifc.png" style="width: 95%">
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/dar.png" style="width: 50%">
                </div>
            </div>

{#            <div class="col-6 col-md-4">#}
{#                <div class="partners-list__item">#}
{#                    <img src="/static/img/companies/Halyk_Bank.png" style="width: 100%">#}
{#                </div>#}
{#            </div>#}

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/forte2.png" style="width: 90%">
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/beeline.png" style="width: 100%">
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="partners-list__item">
                    <img src="/static/img/companies/softline.png" style="width: 80%">
                </div>
            </div>


        </div>

</section>