<section class="bg-light text-center montserrat">
    <div class="container">

    <!--Carousel Wrapper-->
    {#<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">#}


    <!--Controls-->
    {#  <div class="controls-top">#}
    {#    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>#}
    {#    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>#}
    {#  </div>#}
    <!--/.Controls-->

    {#  <!--Indicators-->#}
    {#  <ol class="carousel-indicators">#}
    {#    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>#}
    {#    <li data-target="#multi-item-example" data-slide-to="1"></li>#}
    {#    <li data-target="#multi-item-example" data-slide-to="2"></li>#}
    {#  </ol>#}
    {#  <!--/.Indicators-->#}

    <!--Slides-->
    {#  <div class="carousel-inner" role="listbox">#}
    {##}
    {#    <!--First slide-->#}
    {#    <div class="carousel-item active" style="display: flex; flex-flow: row">#}


    <div class="bg-light row" style="padding: 1rem; padding-bottom: 3rem">
        <div class="col-6 col-md-4"
             style="background: url('/static/img/companies/Halyk_Bank.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 height: 5rem;
                ">
        </div>

        <div class="col-6 col-md-4"
             style="background: url('/static/img/companies/choko2.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 padding: 1rem;
                 {#background-size: contain;#}
                ">

        </div>
        <div class="col-6 col-md-4" style="background: url('/static/img/companies/sber2.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 height: 4rem;
                 padding: 1rem;
                 {#background-size: contain;#}
                ">
        </div>
        <div class="col-6 col-md-4" style="background: url('/static/img/companies/techodom_kaz.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 height: 4rem;
                 {#background-size: 40%;#}
                ">
        </div>
        <div class="col-12 col-md-8" style="background: url('/static/img/companies/kkm-logo.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 height: 4rem;
                 {#background-size: 40%;#}
                ">
        </div>
    </div>
    {#<!--/.Carousel Wrapper-->#}
    </div>

</section>