<section class="bg-light text-center montserrat" style="">
    <div class="container">
        <div class="row no-gutters">
            <div class="flip_mobile">
                <div class="col-md-8" style="padding: 1em">
                    <a href="http://2gis.kz/almaty/firm/9429940000927160/center/76.89343929290773,43.20653653798592/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">
                        <img src="/static/img/map_almau.png" style="width: 100%">
                    </a>
                </div>
                <div class="col-md-4" style="padding-top: 2em">
                    <h2 style="text-align: left">Контакты</h2>
                    <h2 style="text-align: left"><a href="tel:{{ phone }}">{{ phone }}</a></h2>
                    <h2 style="text-align: left"><a href="mailto:{{ email }}">{{ email }}</a></h2>
                    <h2 style="text-align: left"></h2>
                    <h2 style="text-align: left">Адрес</h2>
                    <h2 style="text-align: left">{{ address }}</h2>
                    <h2 style="text-align: left">{{ address2 }}</h2>
                    <h2 style="text-align: left"></h2>
                    <h2 style="text-align: left">Мы в соцсетях</h2>
                    <a href="https://www.facebook.com/dsacademykz">
                        <img src="/static/img/facebook.svg"
                        >
                    </a>
                    <a href="https://www.instagram.com/dsacademy.kz">
                        <img src="/static/img/instagram.svg"
                        >
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>