<section class="bg-dark text-center montserrat" style="">
    <div class="container">
        <div class="row no-gutters">
            <div class="flip_mobile">
                <div class="col-md-8 ">
                    <img src="/static/img/map.png" style="width: 100%">
                </div>
                <div class="col-md-4" style="padding-top: 2em">
                    <h1 style="text-align: left">Контакты</h1>
                    <h2 style="text-align: left"><a href="tel:+7(707)7013741">+7 (707) 701 37 41</a></h2>
                    <h2 style="text-align: left"><a href="mailto:info@geekpartners.ltd">info@geekpartners.ltd</a></h2>
                    <h1 style="text-align: left"></h1>
                    <h1 style="text-align: left">Адрес</h1>
                    <h2 style="text-align: left">БЦ Almaty Towers, SmArt point</h2>
                    <h2 style="text-align: left">Ул. Байзакова, 280</h2>
                    <h1 style="text-align: left"></h1>
                    <h1 style="text-align: left">Мы в соцсетях</h1>
                    <img src="/static/img/facebook.svg" onclick="window.location='https://www.facebook.com/dsacademykz'"
                        style="-webkit-filter: invert(100%); filter: invert(100%);">
                    <img src="/static/img/instagram.svg" onclick="window.location='https://www.instagram.com/dsacademy.kz'"
                        style="-webkit-filter: invert(100%); filter: invert(100%);">
                </div>
            </div>
        </div>
    </div>
</section>