<section class="bg-light text-center montserrat" style="">
    <div class="container">
        <div class="row no-gutters">
            <div class="flip_mobile">
                <div class="col-md-8 ">
                    <img src="/static/img/map.png" style="width: 100%">
                </div>
                <div class="col-md-4" style="padding-top: 2em">
                    <h2 style="text-align: left">Контакты</h2>
                    <h2 style="text-align: left"><a href="tel:{{ phone }}">{{ phone }}</a></h2>
                    <h2 style="text-align: left"><a href="mailto:{{ email }}">{{ email }}</a></h2>
                    <h2 style="text-align: left"></h2>
                    <h2 style="text-align: left">Адрес</h2>
                    <h2 style="text-align: left">{{ address }}</h2>
                    <h2 style="text-align: left">{{ address2 }}</h2>
                    <h2 style="text-align: left"></h2>
                    <h2 style="text-align: left">Мы в соцсетях</h2>
                    <a href="https://www.facebook.com/dsacademykz">
                    <img src="/static/img/facebook.svg"
                       >
                        </a>
                    <a href="https://www.instagram.com/dsacademy.kz">
                    <img src="/static/img/instagram.svg"
                        >
                        </a>

                </div>
            </div>
        </div>
    </div>
</section>