<section class="text-center bg-dark" style="margin-bottom: 0; margin-top: 0; padding-top: 2em; padding-bottom: 3em">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h2>Корпоративное обучение</h2><br>
        </div>

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <h2 class="lilac">Почему мы</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid mb-3" src="/static/img/logo_big.svg" alt="">
            </div>
            <div class="col-md-9">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font" style="text-align: left">
                    <p>В нашу команду входят эксперты-практики по Data Science, также зарубежные партнеры и
                        университеты. В своих лекциях они дают студентам реальные кейсы, настоящие данные, проверенный
                        опыт и знания, которые ежедневно используют в работе над собственными проектами.
                    </p><p>
                        К окончанию обучения вы получите новых, идейных и горящих сотрудников. Также мы дадим вам оценку
                        каждому сотруднику по итогам курса.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg-light" style="margin-bottom: 0; margin-top: 0; padding-top: 2em; padding-bottom: 1em">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h2>У нас обучаются сотрудники компаний</h2><br>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid mb-3" src="/static/img/companies/sber.png" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-3" src="/static/img/companies/centras.png" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-3" src="/static/img/companies/katelco.png" alt="">
            </div>
        </div>
    </div>
</section>