<section class="bg-light text-center montserrat" style="padding-top: 2rem; padding-bottom: 3rem">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h2>КУРСЫ</h2><br>
        </div>
        <div class="row no-gutters" style="justify-content: center">
            {% for cohort in cohorts %}
                <div class="col-md-4" style="padding: 1rem">
                    <div class="card">
                        <div class="features-icons-icon d-flex" style="margin-bottom: 1rem">
                            <img class="m-auto text-primary" style="zoom: 0.8; padding-top: 1rem"
                                 src="{{ cohort.course.image.url }}">
                        </div>
                        <h2 style="padding: 1rem; padding-top:0; font-size: 1rem; height: 4rem">{{ cohort.course.name }}
                        </h2>
                        <div class="lilac montserrat"
                             style="padding: 1rem; padding-top:0; font-size: 1rem; text-align: center">Начало:
                            {{ cohort.start }}
                        </div>
                        <div style="flex-flow: column; display: flex">
{#                            <button class="btn my_btn" style="zoom: 0.5; margin-left: 3rem; margin-right: 3rem">#}
{##}
{#                            </button>#}
                            <button type="button" class="btn my_btn"
                                    style="zoom: 0.5; margin-left: 3rem; margin-right: 3rem"
                                    data-toggle="modal"
                                    data-target="#courseModal{{ cohort.id }}">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>