<div class="col-md-4" style="padding: 1rem">
    <div class="card">
        <div class="features-icons-icon d-flex" style="margin-bottom: 1rem">
            <img class="m-auto text-primary" style="zoom: 0.8; padding-top: 1rem" src="/static/img/courses/python.svg">
        </div>
        <h1 style="padding: 1rem; padding-top:0; font-size: 1rem; height: 4rem">Анализ данных и визуализация на базе Python
        </h1>
        <div class="lilac montserrat" style="padding: 1rem; padding-top:0; font-size: 1rem; text-align: center">Начало:
            1 апреля 2019 г.
        </div>
        <div style="flex-flow: column; display: flex">
            <button class="btn my_btn" style="zoom: 0.5; margin-left: 3rem; margin-right: 3rem">Подробнее</button>
        </div>
    </div>
</div>
<div class="col-md-4" style="padding: 1rem">
    <div class="card">
        <div class="features-icons-icon d-flex" style="margin-bottom: 1rem">
            <img class="m-auto text-primary"  style="zoom: 0.8; padding-top: 1rem" src="/static/img/courses/machine_learning.svg">
        </div>
        <h1 style="padding: 1rem; padding-top:0; font-size: 1rem; height: 4rem">Основы машинного обучения
        </h1>
        <div class="lilac montserrat" style="padding: 1rem; padding-top:0; font-size: 1rem; text-align: center">Начало:
            1 апреля 2019 г.
        </div>
        <div style="flex-flow: column; display: flex">
            <button class="btn my_btn" style="zoom: 0.5; margin-left: 3rem; margin-right: 3rem">Подробнее</button>
        </div>
    </div>
</div>
<div class="col-md-4" style="padding: 1rem">
    <div class="card">
        <div class="features-icons-icon d-flex" style="margin-bottom: 1rem">
            <img class="m-auto text-primary"  style="zoom: 0.8; padding-top: 1rem" src="/static/img/courses/excel.svg">
        </div>
        <h1 style="padding: 1rem; padding-top:0; font-size: 1rem; height: 4rem">Продвинутый анализ данных на Microsoft Excel
        </h1>
        <div class="lilac montserrat" style="padding: 1rem; padding-top:0; font-size: 1rem; text-align: center">Начало:
            1 апреля 2019 г.
        </div>
        <div style="flex-flow: column; display: flex">
            <button class="btn my_btn" style="zoom: 0.5; margin-left: 3rem; margin-right: 3rem">Подробнее</button>
        </div>
    </div>
</div>
