<section class="text-center bg-dark" style="margin-bottom: 0; margin-top: 0; padding-top: 2em; padding-bottom: 3em">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h1>ФОРМАТ ОБУЧЕНИЯ</h1><br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <h1 class="lilac">В нашей аудитории</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/4computers.svg" alt="">
                    <h6>Занятия проводятся в современных аудиториях</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/coffee.svg" alt="">
                    <h6>Включены кофе-брейки</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/equipment.svg" alt="">
                    <h6>Обеспечиваем всем необходимым оборудованием</h6>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2em">
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <h1 class="lilac">В вашей компании</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/time_fly.svg" alt="">
                    <h6>Экономия времени на логистику сотрудников</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/10percent.svg" alt="">
                    <h6>Скидка на стоимость курсов до 10%</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid mb-3" src="/static/img/beamer.svg" alt="">
                    <h6>Требования: оборудованная ноутбуками и проекционным оборудованием аудитория</h6>
                </div>
            </div>
        </div>
    </div>
</section>
