<header class="masthead text-white text-center blue_gradient_neuro" style="padding-top: 3rem; padding-bottom: 1rem">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-9 col-sm-12" style="z-index: 1; padding: 1rem">
                <div class="main_text mobile_center">Рассрочка от ForteBank<br><br>
                </div>
                <div class="normal_text" style="color: #42E8E0; margin-top: 2rem; font-size: 30px;">Оплата по частям и без процентов<br><br>
                </div>
                <div class="main_text">
                <button class="btn my_btn"
                        onclick="window.location='{{ consultation_google_form }}'"
                >Получить консультацию</button>
                    </div>
            </div>
            <div class="mx-auto col-md-3 col-sm-12 showcase-img shar"
                 style="background: url('/static/img/companies/forte.png'); width: 400px; height: 400px; background-size: contain; background-repeat: no-repeat">
            </div>
        </div>
    </div>
</header>