
<section class="features-icons bg-dark  text-center">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h1>Кому подойдут курсы?</h1><br>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/analysts.svg">
                    </div>
                    <h3>Аналитикам</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/developers.svg">
                    </div>
                    <h3>Разработчикам</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/top-managers.svg">
                    </div>
                    <h3>Том-менеджерам</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/finansists.svg">
                    </div>
                    <h3>Финансистам</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/marketers.svg">
                    </div>
                    <h3>Маркетологам</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" style="margin-bottom: 4rem">
                        <img class="m-auto text-primary" src="/static/img/profession/f-cking-everyone.svg">
                    </div>
                    <h3>Всем, кому важно работать с данными</h3>
                </div>
            </div>
        </div>
    </div>
</section>
