<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#02084D">
    <meta name="msapplication-navbutton-color" content="#02084D">
    <meta name="apple-mobile-web-app-status-bar-style" content="#02084D">
    <meta name="description"
          content="Data Science Academy. Это интенсивные курсы по data sсience и бизнес-аналитике в Алматы. Профессионально обучаем анализировать данные и машинному обучению. У нас преподают эксперты и доктора наук по искуственному интеллекту."/>
    <meta name="keywords"
          content="data science алматы, аналитика данных, курсы data science алматы, курсы программирования алматы, машинное обучение"/>
    <meta name="google-site-verification" content="rYa2_CAwj7sHRktTONHrpJdcBPZgYoSXp8LsJaPqz2E"/>
    <title>Data Science Academy</title>

    <meta property="og:title" content="Data Science Academy | Алматы"/>

    <meta property="og:description"
          content="Data Science Academy. Это интенсивные курсы по data sсience и бизнес-аналитике в Алматы. Профессионально обучаем анализировать данные и машинному обучению. У нас преподают эксперты и доктора наук по искуственному интеллекту."/>

    <meta property="og:image"
          content="https://dsacademy.kz/static/img/dsa_logo_yet_another.png"/>

    <meta property="og:image:width" content="2492"/>

    <meta property="og:image:height" content="1764"/>

    <meta property="og:url" content="https://dsacademy.kz"/>

    <meta property="og:site_name" content="DSAcademy"/>

    <meta property="og:type" content="Website"/>


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WSDL595');</script>
    <!-- End Google Tag Manager -->


    <!-- Bootstrap core CSS -->
    {% include "libraries.html" %}
</head>

<body link="#C0C0C0" vlink="#808080" alink="#FF0000">

<!-- Navigation -->
{% include "header.html" %}

{% include "masterhead.html" %}

<div id="about"></div>
{% include "whynow.html" %}

{% include "carousel.html" %}

{% include "forwhomhow.html" %}

{% include "anymessage.html" %}

{% include "fortebank.html" %}

<div id="courses"></div>
{% include "courses.html" %}

<div id="business"></div>
{% include "corporate.html" %}

{% include "format.html" %}

<div id="teachers"></div>
{% include "staff.html" %}

<div id="feedback"></div>
{% include "youtube.html" %}

<div id="contacts"></div>
{% include "contacts.html" %}

{% include "modals.html" %}


<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    let default_cohort = {{ default_cohort }};
    {% if default_cohort > -1 %}
        $(window).on('load', function () {
            $('#courseModal{{ default_cohort}}').modal('show');
        });
    {% endif %}
</script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSDL595"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


</body>

</html>
