<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Science Academy</title>

    <!-- Bootstrap core CSS -->
    {% include "libraries.html" %}
</head>

<body>

<!-- Navigation -->
{% include "header.html" %}

{% include "masterhead.html" %}

<div id="about"></div>
{% include "whynow.html" %}

{% include "carousel.html" %}

{% include "forwhomhow.html" %}

{% include "anymessage.html" %}

{% include "fortebank.html" %}

<div id="courses"></div>
{% include "courses.html" %}

<div id="business"></div>
{% include "corporate.html" %}

{% include "format.html" %}

<div id="teachers"></div>
{% include "staff.html" %}

<div id="contacts"></div>
{% include "contacts.html" %}

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
