<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Science Academy</title>

    <!-- Bootstrap core CSS -->
    {% include "libraries.html" %}
</head>

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Masthead -->
<header class="masthead text-white text-center blue_gradient_neuro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-9 col-sm-12" style="z-index: 1">
                <div class="main_text">Освойте с нуля одну из самых востребованных профессий современности!<br><br>
                    <button class="btn my_btn">Получить консультацию</button>
                </div>
            </div>
            <div class="mx-auto col-md-3 col-sm-12 showcase-img shar"
                 style="background: url('/static/img/Shar.svg'); width: 400px; height: 400px; background-size: contain; background-repeat: no-repeat">
            </div>
        </div>
    </div>
</header>


<section class="bg-light text-center montserrat" style="padding-top: 2rem">
    <div class="container">
        <div class="row no-gutters">
            <h1>Почему сейчас?</h1><br>
        </div>
        <div class="row no-gutters">
            <h2 style="margin-bottom: 1rem; margin-top: 1rem">Востребованность</h2>
            <div class="flip_mobile">
                <div class="col-md-8 col-sm-12">
                    <div class="normal_text">За 2018 год образовалась разница в 60% между спросом и предложением на
                        крупнейшем рынке труда для Data Science в США. Нехватка специалистов этой области становится
                        серьезным испытанием в развитии бизнеса во многих странах, в том числе и в СНГ.<br>
                    </div>
                    <div class="normal_text">По мнению Harvard Business Review, Data Science — самая сексуальная
                        профессия 21-го века. LinkedIn объявил, что не было времени лучше для начала карьеры в области
                        данных, чем в наши дни.<br>
                    </div>
                </div>
                <div class="mx-auto col-md-4 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/needed.svg');">
                </div>
            </div>
        </div>


        <div class="row no-gutters" style="margin-bottom: 1rem; margin-top: 1rem">
            <h2>Заработная плата</h2><br>
        </div>
        <div class="row no-gutters">
            <div class="no_flip_mobile" style="display: flex; width: 100%">
                <div class="mx-auto col-md-7 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/salary.svg');">
                </div>
                <div class="mx-auto  col-md-5 col-sm-12 left_padding_mobile">
                    <h3 style="text-align: left">США</h3>
                    <div class="normal_text" style="padding: 0">$62 000 - $165 000 в год
                    </div>
                    <h3 style="text-align: left">Россия</h3>
                    <div class="normal_text">70 000 - 500 000 рублей в месяц
                    </div>
                    <h3 style="text-align: left">Казахстан</h3>
                    <div class="normal_text">350 000 - 2 000 000 тенге в месяц
                    </div>
                </div>
            </div>
        </div>


        <div class="row no-gutters" style="margin-bottom: 1rem; margin-top: 1rem">
            <h2>Стажировка</h2>
            <div class="flip_mobile">
                <div class="col-md-8 col-sm-12">
                    <div class="normal_text">У вас есть отличный шанс показать себя и по окончании курсов устроиться на
                        работу. Ведущие IT-компании Казахстана нуждаются в кадрах и внимательно следят за нашими
                        наборами: <br>
                    </div>
                    <div class="normal_text">DAR, Technodom, Chocofamily, Сбербанк Казахстан, "Колёса, Крыша, Маркет",
                        Halyk Bank,
                        Сентрас, BeInTech<br>
                    </div>
                </div>
                <div class="mx-auto col-md-4 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/stazh.svg');">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Carousel BEGIN -->
{% include "carousel.html" %}
<!-- Carousel END -->



<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Fully Responsive</h3>
                    <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Bootstrap 4 Ready</h3>
                    <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Easy to Use</h3>
                    <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('/static/img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text main_text">
                <h2>Освойте с нуля одну из самых востребованных профессий современности!</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url('/static/img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 4</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way
                    in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap
                    4!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('/static/img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some
                    deeper customization options. Out of the box, just add your content and images, and your new landing
                    page will be ready to go!</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-1.jpg" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-2.jpg" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super
                        nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-3.jpg" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to
                        us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
