<!-- Masthead -->
<header class="masthead text-white text-center blue_gradient_neuro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-9 col-sm-12" style="z-index: 1; padding: 1rem">
                <div class="main_text"><h1 style="text-align: left">Освойте с нуля одну из самых востребованных профессий современности!</h1><br><br>
                    <button class="btn my_btn"
                            onclick="window.location='{{ consultation_google_form }}'"
                        >Получить консультацию</button>
                </div>
            </div>
            <div class="mx-auto col-md-3 col-sm-12 showcase-img shar"
                 style="background: url('{% if no_animation %}/static/img/Shar.svg{% else %}/static/img/animated.png{% endif %}'); width: 400px; height: 400px; background-size: contain; background-repeat: no-repeat">
            </div>
        </div>
    </div>
</header>