{% for cohort in cohorts %}
    <div class="modal" tabindex="-1" id="courseModal{{ cohort.id }}" role="dialog">
        <div class="modal-dialog" style="max-width: 800px; padding-top: 2em; display: flex; flex-flow: column"
             role="document">
            <div class="card"
                 style="flex: 0.5; display: flex; flex-flow: column; border-bottom-left-radius: 0; border-bottom-right-radius: 0">
                <div class="row no-gutters">
                    <div class="flip_mobile" style="display: flex; width: 100%">
                        <div class="mx-auto  col-md-8 col-sm-12 left_padding_mobile">
                            <div class="row no-gutters lilac" style="margin-bottom: 1rem; margin-top: 1rem">
                                <h1>{{ cohort.course.name }}</h1>
                            </div>

                            <div class="no_flip_mobile">
                                <div class="normal_text" style="text-align: left; flex: 0.3">Начало:</div>
                                <div class="normal_text lilac" style="padding: 0; flex: 0.7">{{ cohort.start }}
                                </div>
                            </div>
                            <div class="no_flip_mobile">
                                <div class="normal_text" style="text-align: left; flex: 0.3">Место:</div>
                                <div class="normal_text lilac" style="padding: 0; flex: 0.7">{{ cohort.end }}
                                </div>
                            </div>
                            <div class="no_flip_mobile">
                                <div class="normal_text" style="text-align: left; flex: 0.3">Длительность:</div>
                                <div class="normal_text lilac" style="padding: 0; flex: 0.7">{{ cohort.duration }}
                                </div>
                            </div>
                            <div class="no_flip_mobile">
                                <div class="normal_text" style="text-align: left; flex: 0.3">Дни:</div>
                                <div class="normal_text lilac" style="padding: 0; flex: 0.7">{{ cohort.days_and_time }}
                                </div>
                            </div>
                            <div class="no_flip_mobile">
                                <div class="normal_text" style="text-align: left; flex: 0.3">Стоимость курса:</div>
                                <div class="normal_text lilac" style="padding: 0; flex: 0.7">{{ cohort.price_show }}<br>
                                    {{ cohort.price_show_line2 }}
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto col-md-4 col-sm-12 showcase-img my_icon"
                             style="background-image: url('{{ cohort.course.image.url }}'); margin-top: 2em">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card normal_text"
                 style="flex: 0.5; display: flex; flex-flow: column; border-top-left-radius: 0; border-top-right-radius: 0;
                            background: white; color: black;
                            padding: 2em; text-align: center">
                {% for line in cohort.course.description_as_list %}
                    {{ line }}<br>
                {% endfor %}
                <button type="button" class="btn my_btn">Записаться</button>
                <button type="button" class="btn my_btn" data-dismiss="modal">Data Science Academy</button>
            </div>
        </div>
    </div>
    </div>
{% endfor %}

