<!-- Преподаватели -->
<section class="testimonials text-center bg-light" style="padding-top: 1em">
    <div class="container">
        <div class="row no-gutters" style="margin-bottom: 2rem; margin-top: 2rem; flex-flow: column">
            <h2>ПРЕПОДАВАТЕЛИ</h2><br>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/misha_bw.png" alt="">
                    <h5>Михаил Липкович</h5>
                    <p class="font-weight-light mb-0">Выпускник мат-меха СПГУ</p>
                    <p class="font-weight-light mb-0">Big Data Инженер</p>
                    <p class="font-weight-light mb-0">Кандидат физ-мат наук</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0  montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/timur_bw.png" alt="">
                    <h5>Тимур Бакибаев</h5>
                    <p class="font-weight-light mb-0">Выпускник мех-мата КазНУ</p>
                    <p class="font-weight-light mb-0">и Heidelberg University (Германия)</p>
                    <p class="font-weight-light mb-0">Программный координатор</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0 montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/natali_bw.png" alt="">
                    <h5>Наталья Королёва</h5>
                    <p class="font-weight-light mb-0">Выпускник мех-мата КазНУ</p>
                    <p class="font-weight-light mb-0">Специалист по анализу данных</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0 montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/olzhas_bw.png" alt="">
                    <h5>Олжас Жиенбай</h5>
                    <p class="font-weight-light mb-0">Выпускник МГУ</p>
                    <p class="font-weight-light mb-0">Senior Разработчик и специалист</p>
                    <p class="font-weight-light mb-0">в области искусственного интеллекта</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0 montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/kirill_bw.png" alt="">
                    <h5>Кирилл Якунин</h5>
                    <p class="font-weight-light mb-0">Выпускник МУИТ</p>
                    <p class="font-weight-light mb-0">Ph.D. по информатике и эксперт</p>
                    <p class="font-weight-light mb-0">в области искусственного интеллекта</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0 montserrat_only_font">
                    <img class="img-fluid rounded-circle mb-3" src="/static/img/staff/kuanysh_bw.png" alt="">
                    <h5>Куаныш Абешев</h5>
                    <p class="font-weight-light mb-0">Выпускник мех-мата КазНУ</p>
                    <p class="font-weight-light mb-0">Ph.D. по математике и специалист</p>
                    <p class="font-weight-light mb-0">в области искусственного интеллекта</p>
                </div>
            </div>
        </div>
    </div>
</section>
