<section class="bg-light text-center montserrat" style="padding-top: 2rem">
    <div class="container">
        <div class="row no-gutters">
            <h2>Почему сейчас?</h2><br>
        </div>
        <div class="row no-gutters">
            <h2 style="margin-bottom: 1rem; margin-top: 1rem">Востребованность</h2>
            <div class="flip_mobile">
                <div class="col-md-8 col-sm-12">
                    <div class="normal_text">За 2018 год образовалась разница в 60% между спросом и предложением на
                        крупнейшем рынке труда для Data Science в США. Нехватка специалистов этой области становится
                        серьезным испытанием в развитии бизнеса во многих странах, в том числе и в СНГ.<br>
                    </div>
                    <div class="normal_text">По мнению Harvard Business Review, Data Science — привлекательнейшая
                        профессия 21-го века. LinkedIn объявил, что не было времени лучше для начала карьеры в области
                        данных, чем в наши дни.<br>
                    </div>
                </div>
                <div class="mx-auto col-md-4 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/needed.svg');">
                </div>
            </div>
        </div>


        <div class="row no-gutters" style="margin-bottom: 1rem; margin-top: 1rem">
            <h2>Заработная плата</h2><br>
        </div>
        <div class="row no-gutters">
            <div class="no_flip_mobile" style="display: flex; width: 100%">
                <div class="mx-auto col-md-7 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/salary.svg');">
                </div>
                <div class="mx-auto  col-md-5 col-sm-12 left_padding_mobile">
                    <h3 style="text-align: left">США</h3>
                    <div class="normal_text" style="padding: 0">$62 000 - $165 000 в год
                    </div>
                    <h3 style="text-align: left">Россия</h3>
                    <div class="normal_text">70 000 - 500 000 рублей в месяц
                    </div>
                    <h3 style="text-align: left">Казахстан</h3>
                    <div class="normal_text">350 000 - 2 000 000 тенге в месяц
                    </div>
                </div>
            </div>
        </div>


        <div class="row no-gutters" style="margin-bottom: 1rem; margin-top: 1rem">
            <h2>Стажировка</h2>
            <div class="flip_mobile">
                <div class="col-md-8 col-sm-12">
                    <div class="normal_text">У вас есть отличный шанс показать себя и по окончании курсов устроиться на
                        работу. Ведущие IT-компании Казахстана нуждаются в кадрах и внимательно следят за нашими
                        наборами: <br>
                    </div>
                    <div class="normal_text">DAR, Technodom, Chocofamily, Сбербанк Казахстан, "Колёса, Крыша, Маркет",
                        Halyk Bank,
                        Сентрас<br>
                    </div>
                </div>
                <div class="mx-auto col-md-4 col-sm-12 showcase-img my_icon"
                     style="background-image: url('/static/img/stazh.svg');">
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</section>