<section class="text-center bg-dark" style="margin-bottom: 0; margin-top: 0; padding-top: 2em; padding-bottom: 3em">
    <div class="container">
        <div class="row no-gutters" style="
            margin-bottom: 2rem; margin-top: 2rem; flex-flow: column;
            ">
            <h2>ОТЗЫВЫ ВЫПУСКНИКОВ</h2><br>
        </div>
        <div class="row" >
            <iframe style="margin: auto" width="560" height="315" src="https://www.youtube.com/embed/yDRfbWjoo7E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
